@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed.bold';
  src: url('../fonts/roboto-condensed.bold.eot');
  src: url('../fonts/roboto-condensed.bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.bold.woff') format('woff'),
  url('../fonts/roboto-condensed.bold.woff2') format('woff2'),
  url('../fonts/roboto-condensed.bold.ttf') format('truetype'),
  url('../fonts/roboto-condensed.bold.svg#roboto-condensed.bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed.bold-italic';
  src: url('../fonts/roboto-condensed.bold-italic.eot');
  src: url('../fonts/roboto-condensed.bold-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.bold-italic.woff') format('woff'),
  url('../fonts/roboto-condensed.bold-italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed.bold-italic.ttf') format('truetype'),
  url('../fonts/roboto-condensed.bold-italic.svg#roboto-condensed.bold-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed.regular';
  src: url('../fonts/roboto-condensed.regular.eot');
  src: url('../fonts/roboto-condensed.regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.regular.woff') format('woff'),
  url('../fonts/roboto-condensed.regular.woff2') format('woff2'),
  url('../fonts/roboto-condensed.regular.ttf') format('truetype'),
  url('../fonts/roboto-condensed.regular.svg#roboto-condensed.regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed.italic';
  src: url('../fonts/roboto-condensed.italic.eot');
  src: url('../fonts/roboto-condensed.italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.italic.woff') format('woff'),
  url('../fonts/roboto-condensed.italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed.italic.ttf') format('truetype'),
  url('../fonts/roboto-condensed.italic.svg#roboto-condensed.italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed.light';
  src: url('../fonts/roboto-condensed.light.eot');
  src: url('../fonts/roboto-condensed.light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.light.woff') format('woff'),
  url('../fonts/roboto-condensed.light.woff2') format('woff2'),
  url('../fonts/roboto-condensed.light.ttf') format('truetype'),
  url('../fonts/roboto-condensed.light.svg#roboto-condensed.light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed.light-italic';
  src: url('../fonts/roboto-condensed.light-italic.eot');
  src: url('../fonts/roboto-condensed.light-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed.light-italic.woff') format('woff'),
  url('../fonts/roboto-condensed.light-italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed.light-italic.ttf') format('truetype'),
  url('../fonts/roboto-condensed.light-italic.svg#roboto-condensed.light-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p{
  margin-bottom: 10px;
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  outline: none;
}

.text-center{
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix{
  @include clearfix;
}

.container{
  padding-left: 60px;
  padding-right: 60px;
  @include clearfix;
  @include respond-to($break-1440){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  @include clearfix;
}
.col-25{
  @include calc('width', '100% / 4');
  float: left;
  padding: 0 15px;
}
.col-50{
  @include calc('width', '100% / 2');
  float: left;
  padding: 0 15px;
}
