.timemode_qual{
  .timeline_right {
    .label-col {
      .col-1, .col-2, .col-3, .col-4 {
        width: 25%;
      }
      .seeding{
        padding-left: 30px !important;
      }
      .small{
        font-size: 14px;
      }

    }

    .person{
      .stt{
        padding-left: 30px;
        text-align: left;
      }
    }
    .name_title{
      text-align: center;
    }
    .name{
      font-size: 14px;
      text-align: right;
    }
  }
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.person_active {
  @include bg-gradient-t2b(#ffb400, #ff9000);
 }
.person_heading{
  color: #000 !important;
  font-size: 20px;
}

// Nam //
// Nam //


