.timemode_qual{
  .timeline_right {
    .label-col {
      .col-1, .col-2, .col-3, .col-4 {
        width: 25%;
      }
      .seeding{
        padding-left: 30px !important;
      }
      .small{
        font-size: 14px;
      }

    }
    .person{
      .stt{
        padding-left: 30px;
        text-align: left;
      }
    }
    .name_title{
      text-align: center;
    }
    .name{
      font-size: 14px;
      text-align: right;
    }
  }
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.person_active {
  @include bg-gradient-t2b(#ffb400, #ff9000);
 }
.person_heading{
  color: #000 !important;
  font-size: 20px;
}
.box-center{
  width: 100%;

}
.col-image{
  padding: 0 !important;
  width: 25%;
}
.box-content{
  width: 50%;
  text-align: center;
  vertical-align: middle !important;

  .num1, .num2, .num3{
    width: 33.3%;
    float: left;
    list-style-type: none;
    padding-top: 30px;
    font-size: 30px;
    span{
      color: #ffa800;
    }
  }
  .pr-30{
    padding-right: 30px;
  }
  .h120{

  }
  .title1, .title3{
    width: 40%;
    .code1, .code2, .code3{
      width: 33.3%;
      float: left;
      list-style-type: none;
    }
  }
  .title2{
    width: 20%;
  }
}
.timemode_gray{
  font-size: 36px !important;
  color: #ffffff;
  opacity: 0.2;
  font-style: italic;
}
.h120{
  height: 120px;
  width: 100%;
}
// Nam //
// Nam //


